<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="http://cdn.kik.com/kik/2.3.6/kik.js"></script>
    <style media="screen">
      .jumbotron{
        text-align: center;
      }
      .form-control{
          width: 25%;
          margin-left: 37%
      }
      * {
  margin: 0;
  padding: 0;
}

nav {
  margin: 50px;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}
    </style>
  </head>
  <body>
    <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/user/index1">Users</a></li>
    <li><a href="/user/new">Register</a></li>
    <li class='active'><a href="/user/login">Sign-In</a></li>
    <li><a >Profile</a></li>
    <li><a href="#">Edit</a></li>

  </ul>
</nav>
    <div class="jumbotron">
    <form class="form-signin" action="/user/signin" method="POST" enctype='application/json'>
        <h2 class='form-signin-heading'>Sign in</h2>



        <br>
        <p>
          Email:
        </p>
        <input class="form-control" ng-model='Email' name='email' type='email' placeholder="Email" maxength='32' required/><br>
        <p>
          Password:
        </p>
        <input class="form-control password" type="password" name="password" id='password' placeholder="Password" maxength='32' required/><br>
        <input class="btn btn-info" type="submit" value='Sign-in'/>
        <input  type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
  </div>

  </body>
</html>
